html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.4em;
    font-family: 'Neuton', 'Times New Roman', serif;
    font-size: 115%;
    color: #333333;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    min-height: 100%;
    margin: auto;
    padding-top: 8em;
}

.white {
    color: white;
}

.yellow {
    color: #F5E558;
}

.blue {
    color: #0C4D9B;
}

.inline {
    display: inline;
}

h1 {
    font-size: 2.1em;
    font-weight: normal;
    letter-spacing: 0.04em;
    line-height: 1.4em;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 0.75em;
    letter-spacing: 0.1em;
    margin-top: 0.6em;
    margin-right: 2em;
    margin-bottom: 2em;
}

h4 {
    font-size: 0.8em;
    letter-spacing: 0.14em;
    font-style: italic;
}

p {
    margin-top: 0.6em;
    margin-bottom: 3.2em;
}

.headerBar {
    width: 100%;
    position: fixed;
    background: white;
    opacity: 0.95;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #333333;
}

.headerBar h3 {
    opacity: 1.0;
}

.textBlock {
    max-width: 28em;
    margin: auto;
    padding-left: 1.4em;
    padding-right: 1.4em;
}

.dividerBar {
    height: 1px;
    max-width: 28em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.workBlock {
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

#sunRisk {
    background: #293952;
    background-image: linear-gradient(#293952, #001433);
}

#UCLA {
    background: #7DB8D1;
    background-image: linear-gradient(#7DB8D1, #498DB8);
}

#quick {
    background: #FFE999;
    background-image: linear-gradient(#FFE999, #F0D160);
}

#graphicDesign {
    background: #FFE2BF;
    background-image: linear-gradient(#FFE2BF, #E3BE91);
}

#photography {
    background: #FFE2BF;
    background-image: linear-gradient(#FFE2BF, #E3BE91);
}

/*desktop scaling*/
@media only screen and (max-width : 736px) {
    
    .workBlock {
        text-align: center;
    }
}

/*mobile formatting*/
@media only screen and (max-device-width : 736px) and (orientation: portrait) {
    
    html, body {
        font-size: 2em;
    }
    
    .workBlock {
        text-align: center;
    }
}

@media only screen and (max-device-width : 736px) and (orientation: landscape) {
    
    html, body {
        font-size: 1.4em;
    }
    
    .workBlock {
        text-align: center;
    }
}