<!-- <div class = "dividerBar"></div> -->
<div class ="centeringBlock centered">
  <a id = "contact"></a>
        <h3>GET IN TOUCH:</h3>
        <p>Need help with a software design project? <br> Just want to chat? <br> I am always happy to hear from people new and old. <br> Drop me a line anytime. <br> :)</p>
    <div class = "subBlock left">
        <h3>
        E-MAIL:
        </h4>
        <a href = "mailto: evan.t.sullivan@gmail.com"><p class = "blue">evan.t.sullivan@gmail.com</p></a>
    </div>
    <div class = "subBlock left">
        <h3>
        TWITTER:
        </h3>
        <a href = "https://twitter.com/evan_sullivan"><p class = "blue">@Evan_Sullivan</p></a>
    </div>
</div>
