<!DOCTYPE html>

<html>
    {% include head.html %}
    <body itemscope itemtype="http://schema.org/Person">
        <div class = "headerBar">
            <a href="{{site.baseurl}}/index.html" class="button"><h3 class = "inline">E.S.</h3></a>
            |
            <a href="{{site.baseurl}}/index.html" class="button"><h3 class = "inline">NOTABLE WORKS</h3></a>
            -
            <a href="#contact" class="button"><h3 class = "inline">CONTACT</h3></a>
        </div>
    <div class = "container">

       {{content}}

       {% include contact.html %}
       {% include footer.html %}

    </div>
</body>
