<!DOCTYPE html>

<html>
    {% include head.html %}
    <body itemscope itemtype="http://schema.org/Person">
        <div class = "headerBar">
            <a href="html, body" class="button headerMargins"><h3 class = "inline">E.S.</h3></a>
            |
            <a href="#notableWorks" class="button headerMargins"><h3 class = "inline">NOTABLE WORKS</h3></a>
            -
            <a href="#contact" class="button headerMargins"><h3 class = "inline blue">GET IN TOUCH</h3></a>
            <!-- |
            <a href="https://medium.com/interface-labs" class="button"><h3 class = "inline">BLOG</h3></a>-->
        </div>
    <div class = "container">

       {{content}}

       {% include contact.html %}
       {% include footer.html %}

    </div>
</body>
